
<div style="font-family: 'Lucica Grande', Ubuntu, Arial, Verdana, sans-serif; font-size: 12px; color: rgb(34, 34, 34); background-color: #FFF; ">


    <p>Gentile ${object.partner_id.name}, </p>
    
    <p>Elenco ritenute ${object.certification_id.year} </p>

<div style="display: table">

<!-- INTESTAZIONE -->
<div style="display: table-row;">
  <div style="display: table-cell;width:150px;background-color: lightgray;">
   Data
  </div>
  <div style="display: table-cell;width:250px;background-color: lightgray;">
  Ritenuta
  </div>
<div style="display: table-cell;width:160px;background-color: lightgray;">
  Descrizione
  </div>
<div style="display: table-cell;width:50px;background-color: lightgray;">
  Imponibile ritenuta
  </div>
<div style="display: table-cell;width:50px;background-color: lightgray;">
  Ritenuta Dovuta
  </div>
<div style="display: table-cell;width:50px;background-color: lightgray;">
  Ritenuta Applicata  
</div>
<div style="display: table-cell;width:80px;background-color: lightgray;">
  Ritenuta Versata
  </div>
</div>

 <!-- RIGHE -->
%for line in object.line_ids:

<div style="display: table-row;border-bottom: solid 1px lightgray;">
  <div style=" display: table-cell;border-bottom: solid 1px lightgray;width:150px;">
   ${move.date|format_date("%d-%m-%Y")}
  </div>
  <div style=" display: table-cell;border-bottom: solid 1px lightgray;width:250px;">
  ${move.wt_id.name} 
  </div>
<div style=" display: table-cell;border-bottom: solid 1px lightgray;width:160px;">
  ${move.description}  
  </div>
<div class="number" style="border-bottom: solid 1px lightgray;width:50px;text-align: right;padding-right:10px;">
 ${move.wt_base}
  </div>
<div style=" display: table-cell;border-bottom: solid 1px lightgray;width:50px;text-align: right;padding-right:10px;">
  ${ move.wt_tax} 
  </div>
<div style="border-bottom: solid 1px lightgray;display: table-cell;width:50px;">
   ${ move.wt_amount}
  </div>
<div style="border-bottom: solid 1px lightgray;display: table-cell;width:80px;text-align: right;">
  ${ move.wt_paid} 
  </div>
</div>

%endfor

   <!-- TOTALE imponibile -->
<div style="display: table-row;">
  <div style="display: table-cell;width:150px;">
  </div>
  <div style="display: table-cell;width:250px;">
  </div>
  <div style="display: table-cell;width:160px;">
  </div>
<div style="display: table-cell;width:50px;">
  </div>
<div style="display: table-cell;width:50px;">
Totale
  </div>
<div style="display: table-cell;width:50px;font-weight: bold;">
 ${ object.tot_wt_amount} 
  </div>
<div style="display: table-cell;width:80px;font-weight: bold;text-align: right;">
${ object.tot_wt_paid} 
  </div>
</div>

</div>
    
	    
    
    
    <p> Cordiali saluti </p>
     ${object.certification_id.company_id.name} 
    <div style="width: 375px; margin: 0px; padding: 0px; background-color: #8E0000; border-top-left-radius: 5px 5px; border-top-right-radius: 5px 5px; background-repeat: repeat no-repeat;">
        
    </div>
 
</div>