## -*- coding: utf-8 -*-
<!DOCTYPE html SYSTEM "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <style type="text/css">
            .overflow_ellipsis {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            ${css}
        </style>
    </head>
    <body>
        <%!
        def amount(text):
            return text.replace('-', '&#8209;')  # replace by a non-breaking hyphen (it will not word-wrap between hyphen and numbers)
        %>

        <%setLang(user.lang)%>

        <%
        initial_balance_text = {'initial_balance': _('Computed'), 'opening_balance': _('Opening Entries'), False: _('No')}
        %>
		
		## -------------------------------------------------
		## HEAD with DETAIL
		## -------------------------------------------------
    	%if not display_only_head(data):
    	
        %for contract in objects:
            ##%if account.ledger_lines or account.init_balance:
            %if contract.ledger_lines:
                <%
                if not contract.elements_order:
                    continue
                account_total_invoiced = 0.0
                account_total_value = 0.0
                account_total_cost = 0.0
                account_balance_cumul = 0.0
                account_balance_cumul_curr = 0.0
                %>

                ##<div class="account_title bg" style="width: 1080px; margin-top: 20px; font-size: 12px;">${account.code} - ${account.name}</div>
                <div class="account_title bg" style="width: 1080px; margin-top: 24px; font-size: 16px;">${contract.name or ''} (${contract.state or ''})</div>
                <div class="account_title bg" style="width: 1080px; font-size: 12px;">${ _('Partner ')} ${contract.partner_id.name or ''} </div>

                ##%for partner_name, p_id, p_ref, p_name in account.elements_order:
                %for line_id, line_name in contract.elements_order:
                <%
                  total_invoiced = 0.0
                  total_value = 0.0
                  total_cost = 0.0
                  cumul_balance = 0.0
                  cumul_balance_curr = 0.0

                  part_cumul_balance = 0.0
                  part_cumul_balance_curr = 0.0
                %>
                <div class="act_as_table list_table" style="margin-top: 5px;">
                    <div class="act_as_caption account_title">
                        ##${partner_name or _('No Partner')}
                        ${line_name or _('No Journal')}
                    </div>
                    <div class="act_as_thead">
                        <div class="act_as_row labels">
                            ## journal
                            <div class="act_as_cell" style="width: 50px;">${_('Journal')}</div>
                            ## date
                            <div class="act_as_cell first_column" style="width: 50px;">${_('Date')}</div>
                            ## user
                            <div class="act_as_cell" style="width: 50px;">${_('User')}</div>
                            ## number
                            <div class="act_as_cell" style="width: 60px;">${_('Number')}</div>
                            ## Qty
                            <div class="act_as_cell amount" style="width: 60px;">${_('Quantity')}</div>
                            ## Um
                            <div class="act_as_cell" style="width: 30px;">${_('Uom')}</div>
                            ## label
                            <div class="act_as_cell" style="width: 180px;">${_('Label')}</div>
                            ## Partner
                            %if display_partner(data):
                                <div class="act_as_cell" style="width: 80px;">${_('Partner')}</div>
                            %endif
                            ## label 2
                            %if display_additional_description(data): 
                                <div class="act_as_cell" style="width: 100px;">${_('')}</div>
                            %endif
                            ## Price
                            %if display_price(data):
                                <div class="act_as_cell amount" style="width: 60px;">${_('Price')}</div>
                            %endif
                            ## Invoiced
                            %if display_invoiced(data):
                                <div class="act_as_cell amount" style="width: 60px;">${_('Invoiced')}</div>
                            %endif
                            ## Value (to invoice)
                            %if display_value(data):
                                <div class="act_as_cell amount" style="width: 60px;">${_('Value')}</div>
                            %endif
                            ## cost
                            %if display_cost(data):
                                <div class="act_as_cell amount" style="width: 60px;">${_('Cost')}</div>
                            %endif
                            ## balance
                            %if display_cost(data):
                                <div class="act_as_cell amount" style="width: 60px;">${_('Cumul. Bal.')}</div>
                            %endif
                            
                        </div>
                    </div>
                    
                    <div class="act_as_tbody">
					
                        %for line in contract.ledger_lines.get(line_id, []):
                          <%
                          ## da vedere per ora sia credito che debito metto amount
                          ##total_credit += line.get('credit') or 0.0
                          ##total_debit += line.get('debit') or 0.0
                          total_invoiced += line.get('line_amount_invoiced') or 0.0
                          total_value += line.get('line_amount_to_invoice') or 0.0
                          total_cost += line.get('line_amount') or 0.0
                          
                          label_elements = [line.get('line_name') or '']
                          if line.get('invoice_number'):
                            label_elements.append("(%s)" % (line['invoice_number'],))
                          label = ' '.join(label_elements)
                          %>
                            <div class="act_as_row lines">
                              ## journal
                              <div class="act_as_cell">${line.get('j_name') or ''}</div>
                              ## date
                              <div class="act_as_cell first_column">${formatLang(line.get('line_date') or '', date=True)}</div>
                              ## User
                              <div class="act_as_cell overflow_ellipsis">${line.get('user_name') or ''}</div>
                              ## Number
                              <div class="act_as_cell overflow_ellipsis">${line.get('number') or ''}</div>
                              ## Qty
                              <div class="act_as_cell amount">${formatLang(line.get('line_qty') or 0.0) | amount }</div>
                              ## Uom
                              <div class="act_as_cell">${line.get('line_uom_name') or ''}</div>
                              ## label
                              <div class="act_as_cell">${line.get('line_name') or ''}</div>
                              ## Partner
                              %if display_partner(data):
                                <div class="act_as_cell">${line.get('move_partner_name') or''}</div>
                              %endif
                              ## label 2 
                              %if display_additional_description(data):
                                <div class="act_as_cell">${line.get('product_to_invoice_name') or ''} ${line.get('account_move_desc') or ''}</div>
                              %endif
                              ## Price
                              %if display_price(data):
                                <div class="act_as_cell amount">${formatLang(line.get('line_price') or 0.0) | amount }</div>
                              %endif
                              ## Invoiced
                              %if display_invoiced(data):
                                <div class="act_as_cell amount">${formatLang(line.get('line_amount_invoiced') or 0.0) | amount }</div>
                              %endif
                              ## value
                              %if display_value(data):
                                <div class="act_as_cell amount">${formatLang(line.get('line_amount_to_invoice') or 0.0) | amount }</div>
                              %endif
                              ## cost
                              %if display_cost(data):
                                <div class="act_as_cell amount">${formatLang(line.get('line_amount') or 0.0) | amount }</div>
                              %endif
                              ## balance
                              %if display_cost(data):
                                <div class="act_as_cell amount">${formatLang(line.get('line_balance') or 0.0) | amount }</div>
                              %endif
                              ## balance cumulated
                              <% cumul_balance += line.get('line_balance') or 0.0 %>
                              
                          </div>
                        %endfor
                        <div class="act_as_row lines labels">
                          ## journal
                          <div class="act_as_cell"></div>
                          ## date
                          <div class="act_as_cell first_column"></div>
                          ## user
                          <div class="act_as_cell"></div>
                          ## Number
                          <div class="act_as_cell"></div>
                          ## qty
                          <div class="act_as_cell"></div>
                          ## uom
                          <div class="act_as_cell"></div>
                          ## label
                          <div class="act_as_cell">${_('Cumulated Balance on Journal')}</div>
                          ## Partner
                          %if display_partner(data):
                            <div class="act_as_cell"></div>
                          %endif 
                          ## label 2 (vehicle)
                          %if display_additional_description(data):
                            <div class="act_as_cell"></div>
                          %endif
                          ## Price
                          %if display_price(data):
                            <div class="act_as_cell amount"></div>
                          %endif  
                          ## Invoiced
                          %if display_invoiced(data):
                            <div class="act_as_cell amount">${formatLang(total_invoiced) | amount }</div>
                          %endif
                          ## Value
                          %if display_value(data):
                            <div class="act_as_cell amount">${formatLang(total_value) | amount }</div>
                          %endif  
                          ## cost
                          %if display_cost(data):
                            <div class="act_as_cell amount">${formatLang(total_cost) | amount }</div>
                          %endif
                          ## balance cumulated
                          %if display_cost(data):
                            <div class="act_as_cell amount" style="padding-right: 1px;">${formatLang(cumul_balance) | amount }</div>
                          %endif
                      </div>
                    </div>
                </div>
                <%
                    account_total_invoiced += total_invoiced
                    account_total_value += total_value
                    account_total_cost += total_cost
                    account_balance_cumul += cumul_balance
                    account_balance_cumul_curr += cumul_balance_curr
                %>
                %endfor

                <div class="act_as_table list_table" style="margin-top:5px;">
                    <div class="act_as_row labels" style="font-weight: bold; font-size: 10px;">
                            <div class="act_as_cell first_column" style="width: 320px;">${contract.name or ''}</div>
                            ## label
                            <div class="act_as_cell" style="width: 350px;">${_("Cumulated Balance on Contract")}</div>
                            ## price
                            %if display_price(data):
                                <div class="act_as_cell amount" style="width: 60px;"></div>
                            %endif
                            ## invoiced
                            %if display_invoiced(data):
                                <div class="act_as_cell amount" style="width: 60px;">${ formatLang(account_total_invoiced) | amount }</div>
                            %endif
                            ## value
                            %if display_value(data):
                                <div class="act_as_cell amount" style="width: 60px;">${ formatLang(account_total_value) | amount }</div>
                            %endif
                            ## cost
                            %if display_cost(data):
                                <div class="act_as_cell amount" style="width: 60px;">${ formatLang(account_total_cost) | amount }</div>
                            %endif
                            ## balance cumulated
                            %if display_cost(data):
                                <div class="act_as_cell amount" style="width: 60px; padding-right: 1px;">${ formatLang(account_balance_cumul) | amount }</div>
                            %endif
                        </div>
                    </div>
                </div>
            %endif
        %endfor
        %endif ##not display_only_head(data):
        
        ## -------------------------------------------------
		## ONLY HEAD 
		## -------------------------------------------------
		%if display_only_head(data):
		%for contract in objects:
			<div class="act_as_table list_table" style="margin-top:5px;">
			%if contract.ledger_lines:
				##
				## Intestazione
				##
				<div class="act_as_row labels" style="font-size: 10px;">
		            <div class="act_as_cell first_column" style="width: 320px;"></div>
		            ## label
		            ##<div class="act_as_cell" style="width: 350px;"></div>
		            ## price
		            %if display_price(data):
		                <div class="act_as_cell amount" style="width: 60px;"></div>
		            %endif
		            ## invoiced
		            %if display_invoiced(data):
		                <div class="act_as_cell amount" style="width: 60px;">${_("F.to ")}</div>
		            %endif
		            ## value
		            %if display_value(data):
		                <div class="act_as_cell amount" style="width: 60px;">${_("Valore ")}</div>
		            %endif
		            ## cost
		            %if display_cost(data):
		                <div class="act_as_cell amount" style="width: 60px;">${_("Costo ")}</div>
		            %endif
		            ## balance cumulated
		            %if display_cost(data):
		                <div class="act_as_cell amount" style="width: 60px; padding-right: 1px;">${_("Saldo ")}</div>
		            %endif
	            </div>
			
                <%
                if not contract.elements_order:
                    continue
                account_total_invoiced = 0.0
                account_total_value = 0.0
                account_total_cost = 0.0
                account_balance_cumul = 0.0
                account_balance_cumul_curr = 0.0
                %>
				
				%for line_id, line_name in contract.elements_order:
	                <%
	                  total_invoiced = 0.0
	                  total_value = 0.0
	                  total_cost = 0.0
	                  cumul_balance = 0.0
	                  cumul_balance_curr = 0.0
	
	                  part_cumul_balance = 0.0
	                  part_cumul_balance_curr = 0.0
	                %>
	                ##<div class="act_as_table list_table" style="margin-top: 5px;">
	                ##
	                ## Comute lines
	                ##
	                %for line in contract.ledger_lines.get(line_id, []):
                          <%
                          ## da vedere per ora sia credito che debito metto amount
                          total_invoiced += line.get('line_amount_invoiced') or 0.0
                          total_value += line.get('line_amount_to_invoice') or 0.0
                          total_cost += line.get('line_amount') or 0.0
                          
                          label_elements = [line.get('line_name') or '']
                          if line.get('invoice_number'):
                            label_elements.append("(%s)" % (line['invoice_number'],))
                          label = ' '.join(label_elements)
                          %>
                	%endfor
                	##</div>
                %endfor
                <%
                    account_total_invoiced += total_invoiced
                    account_total_value += total_value
                    account_total_cost += total_cost
                    account_balance_cumul += cumul_balance
                    account_balance_cumul_curr += cumul_balance_curr
                %>
                ##
                ## Print Total Contract
                ##
                
                <div class="act_as_row " style="font-size: 10px;">
                        <div class="act_as_cell first_column" style="width: 320px;">${contract.name or ''}(${contract.state or ''})</div>
                        ## label
                        ##<div class="act_as_cell" style="width: 350px;">${_("Cumulated Balance on Contract")}</div>
                        ## price
                        %if display_price(data):
                            <div class="act_as_cell amount" style="width: 60px;"></div>
                        %endif
                        ## invoiced
                        %if display_invoiced(data):
                            <div class="act_as_cell amount" style="width: 60px;">${ formatLang(account_total_invoiced) | amount }</div>
                        %endif
                        ## value
                        %if display_value(data):
                            <div class="act_as_cell amount" style="width: 60px;">${ formatLang(account_total_value) | amount }</div>
                        %endif
                        ## cost
                        %if display_cost(data):
                            <div class="act_as_cell amount" style="width: 60px;">${ formatLang(account_total_cost) | amount }</div>
                        %endif
                        ## balance cumulated
                        %if display_cost(data):
                            <div class="act_as_cell amount" style="width: 60px; padding-right: 1px;">${ formatLang(account_balance_cumul) | amount }</div>
                        %endif
                    </div>
                </div>
                
                
			%endif ##if contract.ledger_lines:
			
		</div>	
		%endfor ## for contract in objects:
		%endif ## display_only_head(data):
		
    </body>
</html>
